<style>
thead {
  background-color: #0060b2;
  color: #fff;
}
table tr th.pb{
  padding-bottom: 21px;
}
table tr th.pb2{
  padding-bottom: 10px;
}
table, td, th {
  border: 2px #3d3f9e solid;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px #3d3f9e solid;
}
.border-bottom {
  border-bottom: 2px #3d3f9e solid !important;
}
.border-top{
  border-top: none;
}
.bg-blue{
  background-color: #c2c4c7;
}
.submit-btn {
  margin-left: 94%;
  display       : inline-block;
  border-radius : 5%;
  border: none;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 13px;
  background    : #0060b2;
  color         : #ffffff;
  line-height   : 1em;
}
</style>

<%= form_for(@attendance) do |ada| %>
  <%= ada.hidden_field :employee_id, value: @attendance.employee_id %>
  <%= ada.hidden_field :base_date, value: @current %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-4">
    <table class="table table-hover table-sm text-center">
      <thead>
        <tr>
          <th rowspan="2" width="2%" class="pb"> id</th>
          <th rowspan="2" colspan="3" width="16%" class="pb">時刻</th>
          <th rowspan="2" scope="col" width="20%" class="pb">オーダーCD</th>
          <th rowspan="2" scope="col" width="18%" class="pb">作業CD</th>
          <th colspan="4" width="24%" class="border-bottom">作業内訳</th>
          <th rowspan="2" width="20%" class="pb">備考</th>
        </tr>
        <tr>
          <th class="border-top">稼働</th>
          <th class="border-top">休憩</th>
          <th class="border-top">有給</th>
          <th class="border-top">控除</th>
        </tr>
      </thead>

      <tbody>
        <% i = 0 %>
        <%= ada.fields_for :attendance_details do |f|%>
          <tr>
            <td>
              <%= i+1 %>
            </td>
            <td>
              <%= f.time_field :start_time%>
            </td>
            <td>
              -
            </td>
            <td>
              <%= f.time_field :end_time %>
            </td>
            <td>
              <%= f.collection_select :order_id, @orders, :id, :name, { include_blank: '選択してください'}, { class: 'form-control', id_data: i}%>
            </td>
            <td>
              <%= f.collection_select :work_id, @works, :id, :name, { include_blank: '選択してください'}, { class: 'form-control', id_data: i}%>
            </td>
            <td class="working bg-blue">0</td>
            <td class="rest bg-blue">0</td>
            <td class="paid_holiday bg-blue">0</td>
            <td class="deduction bg-blue">0</td>
            <td>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
            </td>
          </tr>
          <% i = i+1 %>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <%= ada.submit value: "登録",class:'submit-btn'%>
  </div>
<% end %>

<script>
    function changeThText(id,key,val) {
      console.log(id,key,val);
      console.log(document.querySelectorAll(`[table-id]`)[id].getElementsByClassName(key)[0]);
        document.querySelectorAll(`[table-id]`)[id].getElementsByClassName(key)[0].innerHTML = val;
    }
    function textToDate(hours,minites) {
      var result = new Date();
      result.setHours(Number(hours));
      result.setMinutes(Number(minites));
      result.setSeconds(0);
      return result;
    }
    function selectChange(event){
      const current_id = event.target.getAttribute('id_data');
      const val = event.target.value;
      const row = []
      for(var i=0; i < 10; i++){
        row.push({working:0,rest:0,paid_holiday:0,deduction:0})
      }
      var start_t = textToDate(
        document.getElementById('attendance_attendance_details_attributes_0_start_time_4i').value,
        document.getElementById('attendance_attendance_details_attributes_0_start_time_5i').value
      );
      var end_t = textToDate(
        document.getElementById('attendance_attendance_details_attributes_0_end_time_4i').value,
        document.getElementById('attendance_attendance_details_attributes_0_end_time_5i').value
      );    
      //休憩
      if(val == 1){
        changeThText(current_id,'rest',`${(end_t - start_t)/(1000*60*60)}`)        changeThText(current_id,'working',`0`);
        changeThText(current_id,'paid_holiday',`0`);
      }
      //休み
      if(val == 2){
        changeThText(current_id,'paid_holiday',`${(end_t - start_t)/(1000*60*60)}`);
        changeThText(current_id,'working',`0`);
        changeThText(current_id,'rest',`0`);
      }
      if(val != 1 && val != 2){
        changeThText(current_id,'working',`${(end_t - start_t)/(1000*60*60)}`);
        changeThText(current_id,'rest',`0`);
        changeThText(current_id,'paid_holiday',`0`);
      }
    }

    var ele = document.getElementById('attendance_attendance_details_attributes_0_work_id');
    ele.addEventListener('change', selectChange);
</script>