<style>
.title{
  text-align: center;
}
.transition{
    font-size: 28px;
    margin-bottom: 10px;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.bi{
    color: #0060b2;
}
/* 備考欄 */
.note{
  margin-left: 75%;
}
/* テーブル設定 */
thead {
  background-color: #0060b2;
  color: #fff;
}
table tr th.pb{
  padding-bottom: 21px;
}
table tr th.pb2{
  padding-bottom: 10px;
}
table, td, th {
  border: 2px #3d3f9e solid;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px #3d3f9e solid;
}
.border-bottom {
  border-bottom: 2px #3d3f9e solid !important;
}
.border-top{
  border-top: none;
}
.bg-blue{
  background-color: #c2c4c7;
}
/* 登録ボタン */
.submit-btn {
  margin-left: 94%;
  display       : inline-block;
  border-radius : 5%;
  border: none;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 13px;
  background    : #0060b2;
  color         : #ffffff;
  line-height   : 1em;
}
</style>

<%= form_with model: @attendance, local: false do |ada| %>
  <%= ada.hidden_field :employee_id, value: @attendance.employee_id %>
  <%= ada.hidden_field :base_date, value: @current %>
  <%= ada.hidden_field :id, value: @attendance.id %>

  <div class="row mx-4">
    <!-- 先月・翌月遷移 -->
    <div class="col-4 mt-4 transition">
        <%= link_to new_attendance_path('date': @nav_prev) do %>
            <i class="bi bi-arrow-left-circle"></i>
        <% end %>
        <%= format_to(@current,:ymd) %>
        <%= link_to new_attendance_path('date': @nav_next) do %>
            <i class="bi bi-arrow-right-circle"></i>
        <% end %>
    </div>

    <h2 class="col-4 title mt-4">
      勤怠登録
    </h2>

    <table class="table text-center table-sm offset-1 col-3 mb-4">
      <thead>
        <tr>
          <th>備考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><textarea class="form-control" id="attd-remark" rows="1"></textarea></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mx-4">
    <table class="table table-hover table-sm text-center">
      <thead>
        <tr>
          <th rowspan="2" width="2%" class="pb"> id</th>
          <th rowspan="2" colspan="3" width="16%" class="pb">時刻</th>
          <th rowspan="2" scope="col" width="20%" class="pb">オーダーCD</th>
          <th rowspan="2" scope="col" width="18%" class="pb">作業CD</th>
          <th colspan="4" width="24%" class="border-bottom">作業内訳</th>
          <th rowspan="2" width="20%" class="pb">備考</th>
        </tr>
        <tr>
          <th class="border-top">稼働</th>
          <th class="border-top">休憩</th>
          <th class="border-top">有給</th>
          <th class="border-top">控除</th>
        </tr>
      </thead>

      <tbody>
        <% i = 0 %>
        <%= ada.fields_for :attendance_details do |f|%>
          <tr>
            <td>
              <%= i+1 %>
              <%= f.hidden_field :id%>
            </td>
            <td>
              <%= f.time_field :start_time, data: { target: 'st', id: i} %>
            </td>
            <td>
              -
            </td>
            <td>
              <%= f.time_field :end_time, data: { target: 'et', id: i} %>
            </td>
            <td>
              <%= f.collection_select :order_id, @orders, :id, :name, 
                { include_blank: '選択してください'}, { class: 'form-control', data: {target: 'order', id: i}} %>
            </td>
            <td>
              <%= f.collection_select :work_id, @works, :id, :name, { include_blank: '選択してください'}, { class: 'form-control', id_data: i}%>
            </td>
            <td class="working bg-blue" data-target="operating" data-id="<%= i %>">0</td>
            <td class="rest bg-blue" data-target="rest" data-id="<%= i %>">0</td>
            <td class="paid_holiday bg-blue" data-target="paid" data-id="<%= i %>">0</td>
            <td class="deduction bg-blue" data-target="deducation" data-id="<%= i %>">0</td>
            <td>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" data-id="<%=i%>" data-target="remark"></textarea>
            </td>
          </tr>
          <% i = i+1 %>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <%= link_to '削除', "/attendances/#{@attendance.id}", method: :delete %>
    <%= ada.submit value: "登録",class:'submit-btn'%>
  </div>
<% end %>

<script>
window.onload = function(){
  for(let i=0;i<10;i++){
    document.querySelectorAll("[data-target='st']")[i].
      addEventListener('change', e => autoCalcTimeDetail(e));
    document.querySelectorAll("[data-target='et']")[i].
      addEventListener('change', e => autoCalcTimeDetail(e));;
    document.querySelectorAll("[data-target='order']")[i].
      addEventListener('change', e => autoCalcTimeDetail(e));
    init_work_breakdown(i);
  }

  function init_work_breakdown(rowId){
    show(calcTimeGap(rowId),rowId);
  }
  
  function autoCalcTimeDetail(e){
    const rowId = e.target.getAttribute('data-id');
    console.log(calcTimeGap(rowId),rowId);
    show(calcTimeGap(rowId),rowId);
  }
  
  function calcTimeGap(rowId){
    st_ms = strToDate(document.querySelectorAll("[data-target='st']")[rowId].value);
    et_ms = strToDate(document.querySelectorAll("[data-target='et']")[rowId].value);
    if(st_ms == null || et_ms == null) return 0;
    return (et_ms - st_ms)/(60*60*1000);
  }
  
  function strToDate(str){
    const dt_ms = Date.parse(document.getElementById('attendance_base_date').value.
    replace(/[0-9][0-9]:[0-9][0-9]:[0-9][0-9]/,str))
    return isNaN(dt_ms)?0:dt_ms;
  }
  
  function show(hours_f,rowId){
    order_id = getTarget('order',rowId).value;
    itemized_time_h = <%= itemized_time_hash.to_json.html_safe %>;
    switch(itemized_time_h[order_id]){
      case 0:
        //稼働
        getTarget('operating',rowId).innerHTML = hours_f.toFixed(2);
        break;
      case 1:
        //休憩
        getTarget('rest',rowId).innerHTML = hours_f.toFixed(2);
        break;
      case 2:
        //控除
        getTarget('deducation',rowId).innerHTML = hours_f.toFixed(2);
        break;
      case 3:
        //一般有給
        getTarget('paid',rowId).innerHTML = hours_f.toFixed(2);
        break;
      case 4:
        //特別有給
        getTarget('paid',rowId).innerHTML = hours_f.toFixed(2);
        break;
      default:
        break;
    }
  }
  
  function getTarget(target,rowId){
    return document.querySelectorAll(`[data-target='${target}']`)[rowId];
  }



  const workContents = document.querySelectorAll("[data-target='remark']");

  for(let i=0;i<workContents.length;i++){
    workContents[i].addEventListener('change',e=>workContentHandler(e));
  }

  function workContentHandler(e){

    const rowId = e.target.getAttribute('data-id');

    const workContents = document.querySelectorAll("[data-target='remark']");

    const attendanceRemark = document.getElementById('attd-remark');

    let remarks = "";
    for(let i=0;i<workContents.length;i++){
     remarks += workContents[i].value;
    }

    console.log(remarks);
    attendanceRemark.textContent = remarks;

  }
};
</script>