<style>
  .attendance__new__header{
    text-align: center;
    background-color: rgba(56, 96, 178, 1);
    color: white;
    padding: 6px;
    width: 90%;
    margin: 0 auto;
  }
  .attendance__new__tables{
    
  }
  table.table.attendance__new__table{
    width: 60%;
  }
  table.table.attendance__new__detail-table{
    width: 100px;
  }
</style>
<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="attendance__new__header">時刻</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= form.label :start_time %>
      <%= form.datetime_select :start_time %>
    </div>
    <div class="col-sm">
      <%= form.label :end_time %>
      <%= form.datetime_select :end_time %>
    </div>
    <div class="col-sm">
      <%= form.label :rest_time %>
      <%= form.datetime_select :rest_time %>
    </div>
    <div class="col-sm">
      <%= form.label :work_content %>
      <%= form.text_field :work_content %>
    </div>
  </div>
</div>

<div>
    <table class="table attendance__new__table">
      <thead>
        <tr>
          <th scope="col">オーダーCD</th>
          <th scope="col">作業CD</th>
          <th scope="col">作業時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </td>
          <td>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </td>
          <td><%= form.text_field :work_content %></td>
        </tr>
      </tbody>
    </table>

    <table class="table attendance__new__detail-table">
      <thead>
        <tr>
          <th scope="col">稼働</th>
          <th scope="col">休憩</th>
          <th scope="col">有給</th>
          <th scope="col">控除</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>8</th>
          <td>1</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
</div>

<% end %>
