<%= form_for(@attendance) do |ada| %>
  <%= ada.hidden_field :employee_id, value: @attendance.employee_id %>
  <%= ada.hidden_field :base_date, value: @current %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
    <table>
      <thead>
          <tr>
            <th> id</th>
            <th>時刻</th>
            <th scope="col">オーダーCD</th>
            <th scope="col">作業CD</th>
            <th scope="col">作業内訳</th>
            <th>備考</th>
          </tr>
      </thead>
      <tbody>
          <% i = 0 %>
          <%= ada.fields_for :attendance_details do |f|%>
                <tr>
                  <td>
                      <%= i+1 %>
                  </td>
                  <td>
                      <%= f.time_field :start_time %>
                      -
                      <%= f.time_field :end_time %>
                  </td>
                  <td>
                      <%= f.collection_select :order_id, @orders, :id, :name, { include_blank: '選択してください'}, { class: 'form-control', id_data: i}%>
                  </td>
                  <td>
                      <%= f.collection_select :work_id, @works, :id, :name, { include_blank: '選択してください'}, { class: 'form-control', id_data: i}%>
                  </td>
                  <td>
                      <table class="table attendance__new__detail-table" table-id="<%= i.to_s%>">
                        <thead>
                          <tr>
                            <th scope="col">稼働</th>
                            <th scope="col">休憩</th>
                            <th scope="col">有給</th>
                            <th scope="col">控除</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th class="working">0</th>
                            <td class="rest">0</td>
                            <td class="paid_holiday">0</td>
                            <td class="deduction">0</td>
                          </tr>
                        </tbody>
                      </table>
                  </td>
                  <td><%= f.text_area :work_content, col:15, row: 10 %></td>
                </tr>
                <% i = i+1 %>
                <% end %>
      </tbody>
    </table>
    <%= ada.submit value: "登録"%>
</div>
<% end %>
<script>
    function changeThText(id,key,val) {
      console.log(id,key,val);
      console.log(document.querySelectorAll(`[table-id]`)[id].getElementsByClassName(key)[0]);
        document.querySelectorAll(`[table-id]`)[id].getElementsByClassName(key)[0].innerHTML = val;
    }
    function textToDate(hours,minites) {
      var result = new Date();
      result.setHours(Number(hours));
      result.setMinutes(Number(minites));
      result.setSeconds(0);
      return result;
    }
    function selectChange(event){
      const current_id = event.target.getAttribute('id_data');
      const val = event.target.value;
      const row = []
      for(var i=0; i < 10; i++){
        row.push({working:0,rest:0,paid_holiday:0,deduction:0})
      }
      var start_t = textToDate(
        document.getElementById('attendance_attendance_details_attributes_0_start_time_4i').value,
        document.getElementById('attendance_attendance_details_attributes_0_start_time_5i').value
      );
      var end_t = textToDate(
        document.getElementById('attendance_attendance_details_attributes_0_end_time_4i').value,
        document.getElementById('attendance_attendance_details_attributes_0_end_time_5i').value
      );    
      //休憩
      if(val == 1){
        changeThText(current_id,'rest',`${(end_t - start_t)/(1000*60*60)}`);
        changeThText(current_id,'working',`0`);
        changeThText(current_id,'paid_holiday',`0`);
      }
      //休み
      if(val == 2){
        changeThText(current_id,'paid_holiday',`${(end_t - start_t)/(1000*60*60)}`);
        changeThText(current_id,'working',`0`);
        changeThText(current_id,'rest',`0`);
      }
      if(val != 1 && val != 2){
        changeThText(current_id,'working',`${(end_t - start_t)/(1000*60*60)}`);
        changeThText(current_id,'rest',`0`);
        changeThText(current_id,'paid_holiday',`0`);
      }
    }

    var ele = document.getElementById('attendance_attendance_details_attributes_0_work_id');
    ele.addEventListener('change', selectChange);
</script>