<%# javascript_pack_tag 'attendances/index'%>
<%# javascript_pack_tag 'attendances/index'%>
<style>
.transition{
    font-size: 28px;
    margin-bottom: 10px;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.bi{
    color: #0060b2;
}
table{
    font-size: 14px;
}
thead {
    background-color: #0060b2;
    color: #fff;
}
table tr th.pb{
    padding-bottom: 21px;
}
table tr th.pb2{
    padding-bottom: 10px;
}
table, td, th {
    border: 2px #3d3f9e solid;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px #3d3f9e solid;
}
.border-bottom {
    border-bottom: 2px #3d3f9e solid !important;
}
.border-top{
    border-top: none;
}
.side-line{
    border-right:none;
}
.today{
    background-color: #ffc107;
}
.sat {
    color: #0000ff;
    background-color: #9dd7fb;
}
.sun{
    color: #FF0000;
    background-color: #9dd7fb;
}

.btn{
    margin-left: 59.5%;
}
button{
    width: 150px;
    border: 1px #3d3f9e solid;
    appearance: none;
    border-radius: 5px;
    background: #0060b2;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}
</style>

<!-- 先月・翌月遷移 -->
<div class="ml-4 transition">
    <%= link_to month_attendances_path('date': @nav_prev) do %>
        <i class="bi bi-arrow-left-circle"></i>
    <% end %>
    <%= @month_date.strftime("%Y/%m") %>
    <%= link_to month_attendances_path('date': @nav_next) do %>
        <i class="bi bi-arrow-right-circle"></i>
    <% end %>
</div>

<div class="mx-4">
    <table class="table table-hover table-sm text-center">
        <thead>
            <tr>
                <th rowspan="2" width="2%" class="pb">日</th>
                <th rowspan="2" width="2%" class="pb2">曜日</th>
                <th rowspan="2", colspan="3" width="12%" class="pb">時刻</th>
                <th colspan="7" width="42%" class="border-bottom">時間内訳</th>
                <th rowspan="2" width="42%" class="pb">摘要</th>
            </tr>
            <tr>
                <th class="border-top">作業</th>
                <th class="border-top">休憩</th>
                <th class="border-top">稼働</th>
                <th class="border-top">有給(一般)</th>
                <th class="border-top">有給(特別)</th>
                <th class="border-top">実働</th>
                <th class="border-top">控除</th>
            </tr>
        </thead>
        <tbody>
            <% (@month_date.beginning_of_month..@month_date.end_of_month).each do |month| %>
                <tr class="<%= "today" if month.today? %>">
                    <td width="2%" class="holiday <%= "sat" if month.saturday? %> <%= "sun" if month.sunday? %>">
                        <%= month.strftime("%d") %>
                    </td>
                    <td width="2%" class="<%= "sat" if month.saturday? %> <%= "sun" if month.sunday? %>">
                        <%= month.strftime("#{@dw[month.wday]}") %>
                    </td>
                    <td width="5%"></td>
                    <td width="2%">～</td>
                    <td width="5%"></td>
                    <td width="7%"></td>
                    <td width="7%"></td>
                    <td width="7%"></td>
                    <td width="7%"></td>
                    <td width="7%"></td>
                    <td width="7%"></td>
                    <td width="7%"></td>
                    <td width="42%"></td>
                </tr>
            <% end %>
            <!-- 勤怠時間の集計表示 -->
            <tr>
                <td colspan="5">合計</td>
                <td colspan="1"><%= sprintf("%10.2f", (@sum_work_time / 60)) %></td>
                <td colspan="1"><%= sprintf("%10.2f", (@sum_break_time / 60)) %></td>
                <td colspan="1"><%= sprintf("%10.2f", (@sum_operating_time / 60)) %></td>
                <td colspan="1"><%= sprintf("%10.2f", (@sum_paid_time / 60)) %></td>
                <td colspan="1"><%= sprintf("%10.2f", (@sum_special_paid_time / 60)) %></td>
                <td colspan="1"><%= sprintf("%10.2f", (@sum_actual_time / 60)) %></td>
                <td colspan="1"><%= sprintf("%10.2f", (@sum_deduction_time / 60)) %></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="btn">
    <button type="button">チェック</button>
    <button type="button" class="ml-4">帳簿出力</button>
    <button type="button" class="ml-4">オーダー別</button>
</div>