<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @attendance.employee_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @attendance.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @attendance.end_time %>
</p>


<p>
  <strong>Work content:</strong>
  <%= @attendance.work_content %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
